@import './variables.css';
@import './buttons.css';
@import './cards.css';
@import './animations.css';
@import './utils.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: var(--color-spotify-dark);
  color: var(--color-white);
}

#app {
  width: 100%;
  min-height: 100vh;
}

/* Remove default button styles */
button {
  font-family: inherit;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow: auto; /* oder unset */
}